.icon-add-job { background-image: url('png/add-job.png'); background-repeat: no-repeat; }

.icon-add-user { background-image: url('png/add-user.png'); background-repeat: no-repeat; }

.icon-add { background-image: url('png/add.png'); background-repeat: no-repeat; }

.icon-align { background-image: url('png/align.png'); background-repeat: no-repeat; }

.icon-analyse-graph { background-image: url('png/analyse-graph.png'); background-repeat: no-repeat; }

.icon-analyse { background-image: url('png/analyse.png'); background-repeat: no-repeat; }

.icon-approve { background-image: url('png/approve.png'); background-repeat: no-repeat; }

.icon-approved-job { background-image: url('png/approved-job.png'); background-repeat: no-repeat; }

.icon-attach { background-image: url('png/attach.png'); background-repeat: no-repeat; }

.icon-browse { background-image: url('png/browse.png'); background-repeat: no-repeat; }

.icon-close { background-image: url('png/close.png'); background-repeat: no-repeat; }

.icon-collapse-closed { background-image: url('png/collapse-closed.png'); background-repeat: no-repeat; }

.icon-collapse-open { background-image: url('png/collapse-open.png'); background-repeat: no-repeat; }

.icon-collapse { background-image: url('png/collapse.png'); background-repeat: no-repeat; }

.icon-compare { background-image: url('png/compare.png'); background-repeat: no-repeat; }

.icon-crop { background-image: url('png/crop.png'); background-repeat: no-repeat; }

.icon-cut { background-image: url('png/cut.png'); background-repeat: no-repeat; }

.icon-database-submit { background-image: url('png/database-submit.png'); background-repeat: no-repeat; }

.icon-delete { background-image: url('png/delete.png'); background-repeat: no-repeat; }

.icon-download { background-image: url('png/download.png'); background-repeat: no-repeat; }

.icon-edit-user { background-image: url('png/edit-user.png'); background-repeat: no-repeat; }

.icon-edit { background-image: url('png/edit.png'); background-repeat: no-repeat; }

.icon-expand { background-image: url('png/expand.png'); background-repeat: no-repeat; }

.icon-filter { background-image: url('png/filter.png'); background-repeat: no-repeat; }

.icon-first-page { background-image: url('png/first-page.png'); background-repeat: no-repeat; }

.icon-fullscreen { background-image: url('png/fullscreen.png'); background-repeat: no-repeat; }

.icon-hierarchy { background-image: url('png/hierarchy.png'); background-repeat: no-repeat; }

.icon-last-page { background-image: url('png/last-page.png'); background-repeat: no-repeat; }

.icon-like { background-image: url('png/like.png'); background-repeat: no-repeat; }

.icon-lock { background-image: url('png/lock.png'); background-repeat: no-repeat; }

.icon-login { background-image: url('png/login.png'); background-repeat: no-repeat; }

.icon-mapping { background-image: url('png/mapping.png'); background-repeat: no-repeat; }

.icon-menu { background-image: url('png/menu.png'); background-repeat: no-repeat; }

.icon-move { background-image: url('png/move.png'); background-repeat: no-repeat; }

.icon-next-page { background-image: url('png/next-page.png'); background-repeat: no-repeat; }

.icon-play { background-image: url('png/play.png'); background-repeat: no-repeat; }

.icon-previous-page { background-image: url('png/previous-page.png'); background-repeat: no-repeat; }

.icon-print { background-image: url('png/print.png'); background-repeat: no-repeat; }

.icon-redo { background-image: url('png/redo.png'); background-repeat: no-repeat; }

.icon-refresh { background-image: url('png/refresh.png'); background-repeat: no-repeat; }

.icon-remove-user { background-image: url('png/remove-user.png'); background-repeat: no-repeat; }

.icon-remove { background-image: url('png/remove.png'); background-repeat: no-repeat; }

.icon-save { background-image: url('png/save.png'); background-repeat: no-repeat; }

.icon-scaleable { background-image: url('png/scaleable.png'); background-repeat: no-repeat; }

.icon-search-document { background-image: url('png/search-document.png'); background-repeat: no-repeat; }

.icon-search { background-image: url('png/search.png'); background-repeat: no-repeat; }

.icon-send { background-image: url('png/send.png'); background-repeat: no-repeat; }

.icon-settings { background-image: url('png/settings.png'); background-repeat: no-repeat; }

.icon-share { background-image: url('png/share.png'); background-repeat: no-repeat; }

.icon-stop { background-image: url('png/stop.png'); background-repeat: no-repeat; }

.icon-submit { background-image: url('png/submit.png'); background-repeat: no-repeat; }

.icon-target { background-image: url('png/target.png'); background-repeat: no-repeat; }

.icon-tool { background-image: url('png/tool.png'); background-repeat: no-repeat; }

.icon-unassigned-job { background-image: url('png/unassigned-job.png'); background-repeat: no-repeat; }

.icon-undo { background-image: url('png/undo.png'); background-repeat: no-repeat; }

.icon-unlock { background-image: url('png/unlock.png'); background-repeat: no-repeat; }

.icon-view { background-image: url('png/view.png'); background-repeat: no-repeat; }

.icon-zoom-in { background-image: url('png/zoom-in.png'); background-repeat: no-repeat; }

.icon-zoom-out { background-image: url('png/zoom-out.png'); background-repeat: no-repeat; }

