.icon-direction_left { background-image: url('png/direction_left.png'); background-repeat: no-repeat; }

.icon-direction_reversible { background-image: url('png/direction_reversible.png'); background-repeat: no-repeat; }

.icon-direction_right { background-image: url('png/direction_right.png'); background-repeat: no-repeat; }

.icon-direction_unknown { background-image: url('png/direction_unknown.png'); background-repeat: no-repeat; }

