.icon-alpaca { background-image: url('png/alpaca.png'); background-repeat: no-repeat; }

.icon-amoeba { background-image: url('png/amoeba.png'); background-repeat: no-repeat; }

.icon-anolis { background-image: url('png/anolis.png'); background-repeat: no-repeat; }

.icon-armadillo { background-image: url('png/armadillo.png'); background-repeat: no-repeat; }

.icon-aspergillus { background-image: url('png/aspergillus.png'); background-repeat: no-repeat; }

.icon-barley { background-image: url('png/barley.png'); background-repeat: no-repeat; }

.icon-bat { background-image: url('png/bat.png'); background-repeat: no-repeat; }

.icon-bee { background-image: url('png/bee.png'); background-repeat: no-repeat; }

.icon-brachypodium { background-image: url('png/brachypodium.png'); background-repeat: no-repeat; }

.icon-brassica { background-image: url('png/brassica.png'); background-repeat: no-repeat; }

.icon-bug { background-image: url('png/bug.png'); background-repeat: no-repeat; }

.icon-c-elegans { background-image: url('png/c-elegans.png'); background-repeat: no-repeat; }

.icon-capra_hircus { background-image: url('png/capra_hircus.png'); background-repeat: no-repeat; }

.icon-cat { background-image: url('png/cat.png'); background-repeat: no-repeat; }

.icon-chicken { background-image: url('png/chicken.png'); background-repeat: no-repeat; }

.icon-chimpanzee { background-image: url('png/chimpanzee.png'); background-repeat: no-repeat; }

.icon-corn { background-image: url('png/corn.png'); background-repeat: no-repeat; }

.icon-cow { background-image: url('png/cow.png'); background-repeat: no-repeat; }

.icon-diatom { background-image: url('png/diatom.png'); background-repeat: no-repeat; }

.icon-dog { background-image: url('png/dog.png'); background-repeat: no-repeat; }

.icon-dolphin { background-image: url('png/dolphin.png'); background-repeat: no-repeat; }

.icon-ecoli { background-image: url('png/ecoli.png'); background-repeat: no-repeat; }

.icon-elephant { background-image: url('png/elephant.png'); background-repeat: no-repeat; }

.icon-ferret { background-image: url('png/ferret.png'); background-repeat: no-repeat; }

.icon-finch { background-image: url('png/finch.png'); background-repeat: no-repeat; }

.icon-fly { background-image: url('png/fly.png'); background-repeat: no-repeat; }

.icon-frog { background-image: url('png/frog.png'); background-repeat: no-repeat; }

.icon-fungus { background-image: url('png/fungus.png'); background-repeat: no-repeat; }

.icon-glycinemax { background-image: url('png/glycinemax.png'); background-repeat: no-repeat; }

.icon-gorilla { background-image: url('png/gorilla.png'); background-repeat: no-repeat; }

.icon-grapes { background-image: url('png/grapes.png'); background-repeat: no-repeat; }

.icon-guinea-pig { background-image: url('png/guinea-pig.png'); background-repeat: no-repeat; }

.icon-hedgehog { background-image: url('png/hedgehog.png'); background-repeat: no-repeat; }

.icon-horse { background-image: url('png/horse.png'); background-repeat: no-repeat; }

.icon-human { background-image: url('png/human.png'); background-repeat: no-repeat; }

.icon-kangaroo-rat { background-image: url('png/kangaroo-rat.png'); background-repeat: no-repeat; }

.icon-louse { background-image: url('png/louse.png'); background-repeat: no-repeat; }

.icon-lymnaea_stagnalis { background-image: url('png/lymnaea_stagnalis.png'); background-repeat: no-repeat; }

.icon-monkey { background-image: url('png/monkey.png'); background-repeat: no-repeat; }

.icon-monodelphis { background-image: url('png/monodelphis.png'); background-repeat: no-repeat; }

.icon-mosquito { background-image: url('png/mosquito.png'); background-repeat: no-repeat; }

.icon-mouse-lemur { background-image: url('png/mouse-lemur.png'); background-repeat: no-repeat; }

.icon-mouse { background-image: url('png/mouse.png'); background-repeat: no-repeat; }

.icon-orangutan { background-image: url('png/orangutan.png'); background-repeat: no-repeat; }

.icon-papio { background-image: url('png/papio.png'); background-repeat: no-repeat; }

.icon-pig { background-image: url('png/pig.png'); background-repeat: no-repeat; }

.icon-plant { background-image: url('png/plant.png'); background-repeat: no-repeat; }

.icon-plasmodium { background-image: url('png/plasmodium.png'); background-repeat: no-repeat; }

.icon-platypus { background-image: url('png/platypus.png'); background-repeat: no-repeat; }

.icon-pufferfish { background-image: url('png/pufferfish.png'); background-repeat: no-repeat; }

.icon-rabbit { background-image: url('png/rabbit.png'); background-repeat: no-repeat; }

.icon-rat { background-image: url('png/rat.png'); background-repeat: no-repeat; }

.icon-rice { background-image: url('png/rice.png'); background-repeat: no-repeat; }

.icon-scorpion { background-image: url('png/scorpion.png'); background-repeat: no-repeat; }

.icon-sheep { background-image: url('png/sheep.png'); background-repeat: no-repeat; }

.icon-shrew { background-image: url('png/shrew.png'); background-repeat: no-repeat; }

.icon-spider { background-image: url('png/spider.png'); background-repeat: no-repeat; }

.icon-squirrel { background-image: url('png/squirrel.png'); background-repeat: no-repeat; }

.icon-tetronarce_californica { background-image: url('png/tetronarce_californica.png'); background-repeat: no-repeat; }

.icon-tick { background-image: url('png/tick.png'); background-repeat: no-repeat; }

.icon-tomatoes { background-image: url('png/tomatoes.png'); background-repeat: no-repeat; }

.icon-virus { background-image: url('png/virus.png'); background-repeat: no-repeat; }

.icon-wallaby { background-image: url('png/wallaby.png'); background-repeat: no-repeat; }

.icon-yeast { background-image: url('png/yeast.png'); background-repeat: no-repeat; }

.icon-zebrafish { background-image: url('png/zebrafish.png'); background-repeat: no-repeat; }

