.icon-accommodation { background-image: url('png/accommodation.png'); background-repeat: no-repeat; }

.icon-alert { background-image: url('png/alert.png'); background-repeat: no-repeat; }

.icon-alumni { background-image: url('png/alumni.png'); background-repeat: no-repeat; }

.icon-announcement { background-image: url('png/announcement.png'); background-repeat: no-repeat; }

.icon-basket { background-image: url('png/basket.png'); background-repeat: no-repeat; }

.icon-beta { background-image: url('png/beta.png'); background-repeat: no-repeat; }

.icon-bike { background-image: url('png/bike.png'); background-repeat: no-repeat; }

.icon-biotech { background-image: url('png/biotech.png'); background-repeat: no-repeat; }

.icon-bus { background-image: url('png/bus.png'); background-repeat: no-repeat; }

.icon-calendar { background-image: url('png/calendar.png'); background-repeat: no-repeat; }

.icon-camera { background-image: url('png/camera.png'); background-repeat: no-repeat; }

.icon-car { background-image: url('png/car.png'); background-repeat: no-repeat; }

.icon-careers { background-image: url('png/careers.png'); background-repeat: no-repeat; }

.icon-classification { background-image: url('png/classification.png'); background-repeat: no-repeat; }

.icon-clock { background-image: url('png/clock.png'); background-repeat: no-repeat; }

.icon-contact { background-image: url('png/contact.png'); background-repeat: no-repeat; }

.icon-crosslink { background-image: url('png/crosslink.png'); background-repeat: no-repeat; }

.icon-database { background-image: url('png/database.png'); background-repeat: no-repeat; }

.icon-discuss { background-image: url('png/discuss.png'); background-repeat: no-repeat; }

.icon-documentation { background-image: url('png/documentation.png'); background-repeat: no-repeat; }

.icon-drug { background-image: url('png/drug.png'); background-repeat: no-repeat; }

.icon-elixir { background-image: url('png/elixir.png'); background-repeat: no-repeat; }

.icon-email { background-image: url('png/email.png'); background-repeat: no-repeat; }

.icon-embl { background-image: url('png/embl.png'); background-repeat: no-repeat; }

.icon-external-link { background-image: url('png/external-link.png'); background-repeat: no-repeat; }

.icon-external-systems { background-image: url('png/external-systems.png'); background-repeat: no-repeat; }

.icon-face-to-face { background-image: url('png/face-to-face.png'); background-repeat: no-repeat; }

.icon-find-us { background-image: url('png/find-us.png'); background-repeat: no-repeat; }

.icon-funding { background-image: url('png/funding.png'); background-repeat: no-repeat; }

.icon-graph { background-image: url('png/graph.png'); background-repeat: no-repeat; }

.icon-group { background-image: url('png/group.png'); background-repeat: no-repeat; }

.icon-gtls { background-image: url('png/gtls.png'); background-repeat: no-repeat; }

.icon-health { background-image: url('png/health.png'); background-repeat: no-repeat; }

.icon-help { background-image: url('png/help.png'); background-repeat: no-repeat; }

.icon-home { background-image: url('png/home.png'); background-repeat: no-repeat; }

.icon-industry { background-image: url('png/industry.png'); background-repeat: no-repeat; }

.icon-info { background-image: url('png/info.png'); background-repeat: no-repeat; }

.icon-link { background-image: url('png/link.png'); background-repeat: no-repeat; }

.icon-location { background-image: url('png/location.png'); background-repeat: no-repeat; }

.icon-lovedata { background-image: url('png/lovedata.png'); background-repeat: no-repeat; }

.icon-mailing-list { background-image: url('png/mailing-list.png'); background-repeat: no-repeat; }

.icon-math { background-image: url('png/math.png'); background-repeat: no-repeat; }

.icon-meet-us { background-image: url('png/meet-us.png'); background-repeat: no-repeat; }

.icon-mobile-device { background-image: url('png/mobile-device.png'); background-repeat: no-repeat; }

.icon-new { background-image: url('png/new.png'); background-repeat: no-repeat; }

.icon-newcomers { background-image: url('png/newcomers.png'); background-repeat: no-repeat; }

.icon-news { background-image: url('png/news.png'); background-repeat: no-repeat; }

.icon-nutraceuticals { background-image: url('png/nutraceuticals.png'); background-repeat: no-repeat; }

.icon-open-day { background-image: url('png/open-day.png'); background-repeat: no-repeat; }

.icon-piechart { background-image: url('png/piechart.png'); background-repeat: no-repeat; }

.icon-plane { background-image: url('png/plane.png'); background-repeat: no-repeat; }

.icon-publication { background-image: url('png/publication.png'); background-repeat: no-repeat; }

.icon-research { background-image: url('png/research.png'); background-repeat: no-repeat; }

.icon-resource { background-image: url('png/resource.png'); background-repeat: no-repeat; }

.icon-reviewed-data { background-image: url('png/reviewed-data.png'); background-repeat: no-repeat; }

.icon-services { background-image: url('png/services.png'); background-repeat: no-repeat; }

.icon-steps { background-image: url('png/steps.png'); background-repeat: no-repeat; }

.icon-support { background-image: url('png/support.png'); background-repeat: no-repeat; }

.icon-systems { background-image: url('png/systems.png'); background-repeat: no-repeat; }

.icon-terms { background-image: url('png/terms.png'); background-repeat: no-repeat; }

.icon-test { background-image: url('png/test.png'); background-repeat: no-repeat; }

.icon-text-mining { background-image: url('png/text-mining.png'); background-repeat: no-repeat; }

.icon-toolkit { background-image: url('png/toolkit.png'); background-repeat: no-repeat; }

.icon-train { background-image: url('png/train.png'); background-repeat: no-repeat; }

.icon-training { background-image: url('png/training.png'); background-repeat: no-repeat; }

.icon-tutorial { background-image: url('png/tutorial.png'); background-repeat: no-repeat; }

.icon-unreviewed-data { background-image: url('png/unreviewed-data.png'); background-repeat: no-repeat; }

.icon-video { background-image: url('png/video.png'); background-repeat: no-repeat; }

.icon-walk { background-image: url('png/walk.png'); background-repeat: no-repeat; }

