<!--
  <link rel="stylesheet" href="https://dev.ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/css/ebi-global.css" type="text/css" media="all" />
  <link rel="stylesheet" href="fonts.css" type="text/css" media="all" />
-->

<!-- Generate a partial to be consumed by EBI Style Lab -->
<h3 class="padding-top-xlarge"><i class="icon icon-common" data-icon="&#xb;"></i> The gallery</h3>
<div class="" id="thegallery">
  <div class="" data-sticky-container>
    <div class="sticky" data-sticky data-sticky-on="medium" data-top-anchor="thegallery" data-btm-anchor="thegallery:bottom" data-margin-top="3">
      <ul class="menu no-underline callout padding-top-medium padding-bottom-medium" data-magellan>
        <div class="columns medium-3">
          <div class="input-group">
            <span class="input-group-label"><i data-icon="1" class="icon icon-functional"></i></span>
            <input class="filter clearable input-group-field" type="text" value="" placeholder="Filter these icons" />
          </div>
        </div>
        <li><a href="#EBI-Common"><i class="icon icon-common icon-anchor"></i> EBI-Common</a></li>
        <li><a href="#EBI-Generic"><i class="icon icon-common icon-anchor"></i> EBI-Generic</a></li>
        <li><a href="#EBI-Functional"><i class="icon icon-common icon-anchor"></i> EBI-Functional</a></li>
        <li><a href="#EBI-Chemistry"><i class="icon icon-common icon-anchor"></i> EBI-Chemistry</a></li>
        <li><a href="#EBI-Conceptual"><i class="icon icon-common icon-anchor"></i> EBI-Conceptual</a></li>
        <li><a href="#EBI-FileFormats"><i class="icon icon-common icon-anchor"></i> EBI-FileFormats</a></li>
        <li><a href="#EBI-Species"><i class="icon icon-common icon-anchor"></i> EBI-Species</a></li>
      </ul>
    </div>
  </div>

  <div id="icon-font-rows" class=" medium-up-3">
  include "EBI-Common.html"
  include "EBI-Generic.html"
  include "EBI-Functional.html"
  include "EBI-Chemistry.html"
  include "EBI-Conceptual.html"
  include "EBI-FileFormats.html"
  include "EBI-Species.html"
  </div>
</div>
