<!-- This will be embeded into a master preview at http://www.ebi.ac.uk/style-lab/ -->
<table class="responsive-table">
  <thead>
    <tr>
      <th class="small-5" id="<%= fontFamilyName %>" data-magellan-target="<%= fontFamilyName %>"><%= fontFamilyName %> <% if (version) { %><small>version <%= version %></small><% } %></th>
      <th class="small-6 kbd small">HTML</th>
      <th class="show-for-large kbd small">Unicode</th>
      <th class="show-for-large kbd small">Class</th>
    </tr>
  </thead>
  <tbody>
    <% for (var glyphIdx = 0; glyphIdx < glyphs.length; glyphIdx++) { var glyph = glyphs[glyphIdx] %>
      <% var charcode = '&#x' + codepoints[glyphIdx] %>
      <tr>
        <%
        _.mixin({
          pretify: function(string) {
            string = string.replace(/_id$/, '').replace(/_/g, ' ').replace(/-/g, ' ');
            return string.charAt(0).toUpperCase() + string.substring(1).toLowerCase();
          }
        });
        %>
        <% var glyphPretty = _(glyph).pretify(); %>
        <td><span class="<%= baseClass %>" data-icon="<%= charcode %>">  </span> <%= glyphPretty %></td>
        <td>&lt;i class="icon <%= baseClass %>" data-icon="<%= charcode %>"&gt;&lt;/i&gt;</td>
        <td>data-icon="<%- charcode %>"</td>
        <td>
          <i class="icon <%= baseClass %> <%= classPrefix %><%= _(glyph) %>"></i>
          class="icon <%= baseClass %> <%= classPrefix %><%= _(glyph) %>"
        </td>
      </tr>
    <% } %>
  </tbody>
</table>
