.icon-AGP { background-image: url('png/AGP.png'); background-repeat: no-repeat; }

.icon-BAM { background-image: url('png/BAM.png'); background-repeat: no-repeat; }

.icon-CML { background-image: url('png/CML.png'); background-repeat: no-repeat; }

.icon-CRAM { background-image: url('png/CRAM.png'); background-repeat: no-repeat; }

.icon-CSV { background-image: url('png/CSV.png'); background-repeat: no-repeat; }

.icon-DOC { background-image: url('png/DOC.png'); background-repeat: no-repeat; }

.icon-FASTA { background-image: url('png/FASTA.png'); background-repeat: no-repeat; }

.icon-FASTQ { background-image: url('png/FASTQ.png'); background-repeat: no-repeat; }

.icon-FLAT { background-image: url('png/FLAT.png'); background-repeat: no-repeat; }

.icon-GFF { background-image: url('png/GFF.png'); background-repeat: no-repeat; }

.icon-IMG { background-image: url('png/IMG.png'); background-repeat: no-repeat; }

.icon-JSON { background-image: url('png/JSON.png'); background-repeat: no-repeat; }

.icon-MDL { background-image: url('png/MDL.png'); background-repeat: no-repeat; }

.icon-OBO { background-image: url('png/OBO.png'); background-repeat: no-repeat; }

.icon-OWL { background-image: url('png/OWL.png'); background-repeat: no-repeat; }

.icon-PDF { background-image: url('png/PDF.png'); background-repeat: no-repeat; }

.icon-PSI-MI_TAB { background-image: url('png/PSI-MI_TAB.png'); background-repeat: no-repeat; }

.icon-PSI-MI_XML { background-image: url('png/PSI-MI_XML.png'); background-repeat: no-repeat; }

.icon-Postscript { background-image: url('png/Postscript.png'); background-repeat: no-repeat; }

.icon-RD { background-image: url('png/RD.png'); background-repeat: no-repeat; }

.icon-RDF_XML { background-image: url('png/RDF_XML.png'); background-repeat: no-repeat; }

.icon-RXN { background-image: url('png/RXN.png'); background-repeat: no-repeat; }

.icon-SDF { background-image: url('png/SDF.png'); background-repeat: no-repeat; }

.icon-TSV { background-image: url('png/TSV.png'); background-repeat: no-repeat; }

.icon-TXT { background-image: url('png/TXT.png'); background-repeat: no-repeat; }

.icon-XML { background-image: url('png/XML.png'); background-repeat: no-repeat; }

.icon-ZIP { background-image: url('png/ZIP.png'); background-repeat: no-repeat; }

