.icon-chemical { background-image: url('png/chemical.png'); background-repeat: no-repeat; }

.icon-cross-domain { background-image: url('png/cross-domain.png'); background-repeat: no-repeat; }

.icon-dna { background-image: url('png/dna.png'); background-repeat: no-repeat; }

.icon-expression { background-image: url('png/expression.png'); background-repeat: no-repeat; }

.icon-literature { background-image: url('png/literature.png'); background-repeat: no-repeat; }

.icon-ontology { background-image: url('png/ontology.png'); background-repeat: no-repeat; }

.icon-proteins { background-image: url('png/proteins.png'); background-repeat: no-repeat; }

.icon-structures { background-image: url('png/structures.png'); background-repeat: no-repeat; }

.icon-systems { background-image: url('png/systems.png'); background-repeat: no-repeat; }

